{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
			
{% block content %}			
	<section id="page-content">
		<h1>{{ title}}</h1>
		<p><strong>
			What Do All Those Letters Mean?
		</strong></p><p>
			In the physical therapy world, you'll find all kinds of letters behind the name of a PT. Hopefully this helps give you a sense of what ours mean.
		</p><p><strong>
			PT
		</strong></p><p>
			This one is pretty straight forward. Physical Therapist. It is our legal designation. If a PT is licensed, they are a "PT." Other variations that you might see are PTA, which stands for physical therapist assistant, or SPT (or PT/S) which stands for physical therapy student.
		</p><p><strong>
			DPT
		</strong></p><p>
			Doctor of Physical Therapy. This is the degree that we have earned. It is a clinical doctorate, meaning that the focus was not on research or writing a thesis, but in learning the skills necessary to help people like you in the clinic.
		</p><p>
			Others that you might see are MSPT (Masters of Science in Physical Therapy), or MPT (Masters in Physical Therapy). You may also see tDPT, which stands for a transitional DPT. In this case, the PT originally had a bachelors or masters in physical therapy, then when on to do additional work to earn their doctorate.
		</p><p><strong>
			OCS
		</strong></p><p>
			Orthopedic Certified Specialist. It may also be written as Board Certified in Orthopedic Physical Therapy. This is a designation the signifies that the PT has gone through additional training and passed a national examination to prove that they have reached an advanced level in the specialty of orthopedic physical therapy. The standards for this examination are quite high and overseen by the <a href="http://www.abpts.org/home.aspx" target="_blank" rel="noopener">American Board of Physical Therapy Specialties</a> (ABPTS).
		</p><p>
			Out of the ~185,000 PTs in the USA, only &lt;12,000 are OCS certified.
		</p><p>
			If you have a difficult problem and don't have any recommendations for a particular physical therapist, one of the best places to start is by looking for a board certified specialist in your area. You can do that by using the <a href="http://www.abpts.org/FindaSpecialist/" target="_blank" rel="noopener">ABPTS "find a specialist" search function</a>.
		</p><p><strong>
			FAAOMPT
		</strong></p><p>
			Fellow of the American Academy of Orthopedic Manual Physical Therapists. This designation indicates that the PT has gone through a structured fellowship training program that includes extensive one-on-one mentoring. The curriculum is overseen nationally by the <a href="http://aaompt.org/" target="_blank" rel="noopener">American Academy of Orthopedic Manual Physical Therapists</a> and internationally by the <a href="http://www.ifompt.org/" target="_blank" rel="noopener">International Federation of Manipulative Physical Therapists</a>.
		</p><p>
			In the USA, there are only around 1,000 PTs with this level of training.
		</p><p><strong>
			Others
		</strong></p><p>
			You may see things like PhD, or DsC, both of which are academic research degrees.
		</p><p>
			You will also see all manner of letters starting with "C." This means that the PT has earned a certification in a specific area. Depending on what you are looking for, this can help you match the skill set that you are looking for, but certificate level credentials have less oversight than the credentials with national and international standards above. A continuing education company can essentially decide that after several of their courses and maybe passing an examination, the PT is now certified. So there can be more variability in the level of training in certification programs.
		</p>
	</section>

{% endblock %}











